.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

run/
runs/
!**/src/**/run/
**/src/generated/**/.cache/
repo/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.run/

.apt_generated/
.classpath
.eclipse/
.factorypath
.project
.settings/
bin/
!**/src/**/bin/

.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log
